* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: lightpink;
  display: grid;
  grid-template-columns:1fr, 5fr, 1fr;
  grid-template-areas: 
  "usuario main puntuaciones"
}
.usuario {
  grid-area: usuario;
  display:flex;
  justify-content: center;
}

.puntuaciones {
  grid-area: puntuaciones;
  display: flex;
  justify-content: center;
}

.container {
  grid-area: main;
  font-size: 16px;
  background-color: whitesmoke;
  padding: 3em;
  border-radius: 0.6em;
}

/*botones*/

#opciones-jugador {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#opciones-jugador div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}

#opciones-jugador button {
  padding: 0.9em 1.2em;
  border: 3px solid rgb(212, 208, 208);
  background-color: whitesmoke;
  color: black;
  border-radius: 0.6em;
  text-transform: capitalize;
  font-weight: lighter;
  box-shadow: 0 1.3em 2.5em rgba(189, 188, 188, 0.589);
  cursor: pointer;
}

#opciones-jugador button:disabled {
  border: 3px solid gray;
  color: grey;
  background-color: white;
}

#opciones-jugador button:active {
  border: 3px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(250, 104, 104);
}

.contenedor-letras {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}

#contenedor-letras button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 10em;
  border: 3px solid rgb(212, 208, 208);
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 1.3em 2.5em rgba(235, 235, 235, 0.589);
  font-weight: bold;
}

.contenedor-juego-nuevo {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.5em;
}

.contenedor-juego-nuevo button {
  padding: 0.5em 0.9em;
  border: 3px solid rgb(212, 208, 208);
  background-color: whitesmoke;
  color: black;
  border-radius: 0.6em;
  text-transform: capitalize;
  font-weight: lighter;
  box-shadow: 0 1.3em 2.5em rgba(189, 188, 188, 0.589);
  font-weight: bolder;
}

.hide {
  display: none;
}

#section-input-jugador {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  margin: 1em 0 1.5em 0;
}

#imagenes-ahorcado{
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 80%;
  overflow: hidden;
  justify-content: center;
}

#opciones-jugador button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #e7a6a644;
  cursor: not-allowed;
}

#opciones-jugador button.activo {
  background-color: #f4c531;
  border: 3px solid #000000;
  color: #000000;
  cursor: not-allowed;
}